<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
</head>
<body>
<h1 style="color: #5e9ca0;">User Creation &amp; Login/Auth Process Task - Forgot Password</h1>
<h2 style="color: #2e6c80;">&nbsp;</h2>


<!--<script>
   function clearConsole() {
      console.clear();
   }
</script>-->
<p>&nbsp;</p>

<form action="/resetPass" method="POST">
  <button  type="submit">Send Reset Link</button>
<!--   <button name="reset" id="reset" type="submit">Forgot Password</button> -->
</form>
-
<form action="/" method="POST">
    <button  type="submit">Back to Login</button>

</form>
</body>
</html>
