<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
</head>
<body>
<h1 style="color: #5e9ca0;">Golang Challenge</h1><p></p>
<h2 style="color: #5e9ca0;">User Creation &amp; Login/Auth Process Task</h2>
<h2 style="color: #2e6c80;">&nbsp;</h2>


<form action="/login" method="POST">
    <label for="login">Login:</label><br />
    <input type="text" name="lo" id="login" placeholder="login">
    
   <br> <label for="password">Password:</label><br />
    <input type="text" name="pa" id="password" placeholder="password">   
    
    <input type="submit">
</form>
<p>&nbsp;</p>
<!--<div class="btn-group">
    <form method="get" action="/handleGoogleLogin">
        <button  type="submit">Sign in with Google</button>
    </form>

    <form action="/forgotPass" method="POST">
        <button  type="submit">Forgot Password</button>
    </form>
    
    <form action="/newuser" method="POST">
        <button  type="submit">New User</button>
    </form>
</div>-->

<form action="/handleGoogleLogin" method="get">
  <button type="submit" >Sign in with Google</button>
  <button type="submit" formaction="/forgotPass">Forgot Password</button>
  <button type="submit" formaction="/newuser">New User</button>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>
<p>This is a simple study case on Go Programming Language.</p>
<p>&nbsp;</p>
<p>System Info:&nbsp;</p>
<p>&nbsp;</p>
<p>Comments/Contact: <a href="mailto:fabio.sakuray@gmail.com">Fabio Sakuray</a></p>
</body>
</html>
