<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
</head>
<body>
<script>
console.clear()
</script>
<h1 style="color: #5e9ca0;">Golang Challenge</h1><p></p>
<h2 style="color: #5e9ca0;">Main Menu</h2>
<!---->
<p>&nbsp;</p>
<form action="/ShowEditData" method="GET">
  <button id="reset" type="submit">Edit Profile</button>
</form>
-
<form action="/logout" method="GET">
  <button id="reset" type="submit">Logout</button>
</form>

</body>
</html>
