<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" >
</head>
<body>

<h1 style="color: #5e9ca0;">Reset Password</h1>
Password reset link sent in your email.
<p>&nbsp;</p>

<form action="/"  method="GET">
  <button onclick="clearConsole()" id="return" type="submit">Return</button>
</form>

<script>
   function clearConsole() {
      console.clear();
   }
</script>

</body>
</html>
